#root {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem;
  background-color:#35914F;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  border: black solid 2px;
 
}



.caja{
  width: 400px;
  border: white solid 5px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  color: black;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column
}

img {
  border: black solid 4px;
  
}